rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	match /{document=**} {
    	allow read, write: if false
    }
    
    function isMemberOfGroup(groupId) {
    	return groupId in request.auth.token.groups
    }
    function isManagerOfGroup(groupId) {
    	return request.auth.token.groups[groupId].isManager == true
    }
    
    function isEmptyString(str) {
      return 
        !(str is string) ||
        str.trim().size() == 0
    }
    
    function isValidMessage() {
      return 
        request.resource.data.from == request.auth.uid &&
        !isEmptyString(request.resource.data.text) 
    }
    
  	match /groups/{groupId} {
      allow read: if isMemberOfGroup(groupId)
      allow update: if isManagerOfGroup(groupId)
    }
    
    match /groups/{groupId}/messages/{messageId} {
      allow read: if isMemberOfGroup(groupId)
      allow delete: if resource.data.from == request.auth.uid || isManagerOfGroup(groupId)
      allow create: if isMemberOfGroup(groupId) && isValidMessage()
    }
    
    match /groups/{groupId}/members/{userId} {
    	allow read: if isMemberOfGroup(groupId)
    	allow create, update: if isManagerOfGroup(groupId)
      allow delete: if userId == request.auth.uid || isManagerOfGroup(groupId)
    }

    match /{groupPath=**}/members/{memberID} {
      allow list: if request.auth.uid == resource.data.userId;
    }
    
    match /users/{userId} {
    	allow read: if request.auth != null
      allow write: if request.auth.uid == userId
    }
  }
}