service firebase.storage {
  match /b/{bucket}/o {
    match /avatars/{name} {
      allow write: if name == request.auth.uid
      allow read: if request.auth != null
    }
  }
}