#toolbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: #F0F0F0;
}

.member-list-item {
    transition: all 1s;
}
.member-list-enter, .member-list-leave-to {
    opacity: 0;
}
.member-list-enter {
    transform: translatex(-50px);
}
.member-list-leave-to {
    transform: translatex(50px);
}
.member-list-leave-active {
    position: absolute;
    width: 100%;
}

/*
@media (min-width: 992px) {
    .member-list-leave-active { max-width: 960px; }
}
@media (min-width: 768px) {
    .member-list-leave-active { max-width: 720px; }
}
@media (min-width: 576px) {
    .member-list-leave-active { max-width: 540px; }
}
*/