.log { background-color: lightgray; }
.error { background-color: lightcoral; }
.info { background-color: lightblue; }

#debug-body {
    position: absolute;
    overflow: scroll;
    width: 100%;
    height: 25%;
    bottom: 0;
    padding-top: 70px;
}

#debug-top {
    position: fixed;
    bottom: calc(25% - 70px);
}

#debug-resize-control {
    cursor: row-resize
}