.avatar {
    cursor: default;
    width: 2em;
    height: 2em;
    flex: 0 0 2em;
    line-height: 2.1em;
    border-radius: 50%;
    margin-right: 0.5em;
}

div.avatar {
    text-align: center;
    transition: background 0.25s;
    background: #aaaaaa;
    color: #111111;
}

div.avatar-lg, img.avatar-lg {
    font-size: 5em;
}

input.avatar-upload {
    width: 1px;
    height: 1px;
    position: fixed;
    top: -1px;
    left: -1px;
    opacity: 0;
}

@media (prefers-color-scheme: dark) {
    div.avatar {
        background: #222222;
        color: #aaaaaa;
    }
}