#toolbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: #F0F0F0;
    transition: background 0.25s;
}

@media (prefers-color-scheme: dark) {
    #toolbar {
        background: #111111;
    }
}

@supports ((-webkit-backdrop-filter: blur(30px)) or (backdrop-filter: blur(30px))) {
    #toolbar {
        background: rgba(240, 240, 240, 0.5);
        -webkit-backdrop-filter: blur(30px);
        backdrop-filter: blur(30px);
    }
    @media (prefers-color-scheme: dark) {
        #toolbar {
            background: rgba(30, 30, 30, 0.5);
        }
    }
}